@font-face {
    font-family: Lato-regular;
    src: url(./fonts/Lato/Lato-Regular.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: Butler-regular;
    src: url(./fonts/Butler_Webfont/Butler-Bold.woff2);
  }
  @font-face {
    font-family: Butler-Light;
    src: url(./fonts/Butler_Webfont/Butler-Light.woff);
  }
  @font-face {
    font-family: Playfair !important;
    src: url(./fonts/PlayfairDisplay-Italic.ttf);
  }

  h1,h2,h3,h4,h5,h6,p,a,span,div{
    font-family: Lato-regular !important;
  }
  :root{
    --color-black: #1d1d1d;
    --color-gray: #f4f4f4;
    --color-burg: #efb697;
    --primary-back: #f5f4f4;
    --color-footer-link: #707070;
    --color-prim-menu: #1c1c1c;
    --primary-font: Lato-regular;
    --primary-font-heading: Butler-light;
    --primary-font-button: Playfair;
    --primary-size-xxs: 10px;
    --primary-size-xs: 12px;
    --primary-size-s: 14px;
    --primary-size-M: 10px;
    --primary-size-L: 10px;
    --primary-size-xl: 30px;
    --primary-size-xxl: 40px;
    --primary-size-xxxl: 60px;
    --font-regular: 400;
    --font-light: 300;
    --lato-reg: var(--font-regular) var(--primary-size-xxs)  var(--primary-font);
    --lato-reg-menu: var(--font-regular) var(--primary-size-s)  var(--primary-font);
    --butler-regular-heading: var(--font-light) var(--primary-size-xl)  var(--primary-font-heading);
  }
  body{
    font-family: var(--primary-font) !important;
  }
  body .entry-content{
    font-family: var(--primary-font) !important;
  }
  .container{
      max-width: 1200px;
      margin: 0 auto;
  }
  .primary-head h3{
    font-family: var(--lato-reg) !important;
    font-weight: 300;
    font-size: 30px !important;
    text-align: center;
    max-width: 550px;
    margin: 50px auto !important;
    color: #101010 !important;
  }
  .footer-copyright,.footer-link a{
    color: var(--color-footer-link);
    font: var(--lato-reg);
  }
  #site-footer{
      background: var(--color-black);
      padding: 22.5px 0 26px 0;
  }
  .footer-credits{
      justify-content: space-between;
      width: 100%;
  }
  .footer-link{
      display: flex;
      justify-content: space-between;
      margin: 0;
  }
  .header-inner{
      flex-wrap: wrap;
      padding: 0;
  }
  .header-titles-wrapper{
      max-width: 100%;
      width: 100%;
      justify-content: center !important;
      margin: 0 auto;
      padding: 12px 0;
  }

  /*Header Styles */
  h1.site-title{
    color: var(--color-footer-link);
    font: var(--primary-size-xs) var(--primary-font) ;
    text-align: center;
    margin-left: 0;
    margin-top: 0;
  }
  h1.site-title a{
      font-size: 24px;
      text-decoration: none !important;
  }
  h1.site-title a span{
      display: block;
      font-size: 10px;
  }
  .header-navigation-wrapper{
      width: 100%;
      border-top: 1px solid #efefef;
      padding: 15px 0 18px 0;
  }
  .primary-menu-wrapper ul.primary-menu{
    margin: 0 auto;
    justify-content: center ;
  }
  .header-toggles{
      display: none;
  }
  .primary-menu-wrapper .primary-menu li{
      margin-top: 0;
  }
  .primary-menu-wrapper .primary-menu li a{
    margin-top: 0;
     font: var(--lato-reg-menu);
     color: var(--color-prim-menu) !important;
     text-decoration: none;
  }
  #site-header{
      box-shadow: 0px 3px 6px #0000001A;
  }
  .header-inner{
      width: 100%;
  }
  .row {
    margin-right: 0!important;
    margin-left: 0!important;
  }

  /*Header css*/
  .Navbar {
    width: 100%;
    height: 80px;
    z-index: 999;

  }
  .Navbar .leftSide {
    display: flex;
    justify-content: center;
    width: 10%;
    float: left;
    padding-top: 25px;
  }
  .Navbar .rowMenu {
    display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      border-top: 1px solid #ccc;
      padding-top: 12px;
  }
  .Navbar .rowMenu .links { max-height: 80px; }
  .Navbar .rowMenu .links a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    margin-left: 28px; }
  .Navbar .rowMenu .links a:hover {
  color: #f7c05b;
  }
  .Navbar .rightSide {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
    float: left;
    padding-bottom: 12px;
  }
  .Navbar .rightSide img {height:60px;}
  .Navbar .rowMenu button {
    display: none;
    margin-left: 20px;
  }

  .Navbar .rowMenu #hidden {
    display: flex;
  }

  @media only screen and (max-width:850px) {
    .Navbar .rowMenu .links a {
      font-size: 15px;
    }
  }

  @media only screen and (max-width:768px) {
    .Navbar .rowMenu button {
      display: flex;
      margin-left: 70%;
    }
    .Navbar .rowMenu .links { display: none;}
    .Navbar .rowMenu #hidden {
      position: absolute;
      left: 0;
      top: 80px;
      height: 530px;
      max-height: 530px;
      width: 100%;
      background-color: #1a4085eb;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 9999;
    }
    .Navbar .rowMenu #hidden a { margin: 20px;font-size: 25px;}
    .Navbar .rightSide {
      margin-left: 20px;
      margin-bottom: 10px;
    }
  }
  /*End Header CSS*/

  /*Banner*/
  .App {
    margin-top: 5%;
  }
  .App img { width: 100%;}
  .homebtn{
    background: rgba(255, 255, 255, 0.13);
    color: rgb(247, 192, 91);
    padding: 10px 20px;
    border: 1px solid rgb(247, 192, 91);
    font-size: 15px;
    margin-top: 15px;
    text-decoration: none;
  }

  .homebtn:hover {
    background: rgb(247 192 91);
    color: #fff;
  }


  .textblock h2 {
    margin-bottom: 26px;
      font-size: 50px;
      color: #fff;
      padding-top: 0;
      margin-top: 0;
      font-weight: 400;
  }
  .textblock h4 {
    padding-top: 11%;
      color: #f59e32;
      font-size: 22px;
      margin-bottom: 0;
      padding-bottom: 0;
  }

  @media (max-width: 767px) {
  .App img {
    height: 300px;
  }
  .textblock {
    position: absolute;
    bottom: 20%;
    right: 0!important;
    left: 0;
    background-color: rgba(0, 0, 0, 0.78);
    color: white;
    padding: 20px 0px 40px 25px;
    width: 80%!important;
    margin: 0 auto;
  }
  .textblock h4 {     padding-top: 11%;
    color: #f59e32;
    font-size: 22px;
  }
  .column {
    flex: 50% 1;
  }
  }

  /*Contact Description*/
  /*contact-desc*/
  /*Content*/
  .contact-desc.row {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF;
  }

  /* Create four equal columns */
  .contact-desc .column {
    flex: 50%;
    padding: 2px0;
  }
  .contact-desc {
    width: 100%;
    margin: 2% auto;
  }
  .contact-desc h2 {
    text-transform: capitalize;
      text-align: center;
      color: #333;
      font-size: 24px;
      font-weight: 500;
      width: 50%;
      margin: 0 auto;
      line-height: 40px;
    }
  .contact-desc p { line-height: 35px; font-size: 16px; color: #727272 }

  /*Contact Details*/
  .contact-detail.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 35px;
    margin-bottom: 35px;
  }
  .contactdetail-section {
    width: 60%;
    margin: 0 auto;
  }
  .contactdetail-section .item {
    width: 50%;
    float: left;
    margin-bottom: 30px;
  }
  .contactdetail-section h2 {
    text-transform: capitalize;
      color: #222;
      font-size: 25px;
      font-weight: 400;
      margin: 0 0 12px;
  }
  .contactdetail-section span {
    padding: 0 10px;
      color: #EFB697;
      display: inline-block;
      font-weight: 400;
      font-size: 16px;
  }
  .contact-detail-section.flex-container .item {
    width: auto;
    margin: 10px 0px;
    text-align: center;
    font-size: 30px;
  }
  .contact-detail.flex-container .item img {
      height: auto;
      opacity: 0.6;
  }
  .contact-detail.flex-container .item h4 {
    font-size: 16px;
      color: #676767;
      font-weight: 300;
  }
  .contact-detail.flex-container .item img:hover {
    opacity: 0.9;
  }


  @media only screen and (max-width: 767px) {
  .contact-detail.flex-container {
    flex-direction: column;
  }
  }

  /*Footer*/
  footer .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    padding: 25px 0;
    background-color: #3047aa;
  }

  footer .flex-item {

  background-color: #3047aa;
    padding: 10px;
    flex: 50%;
  }
  footer .ft-logo img {
    height: 70px;
  }
  footer .ft-logo p {
  padding-top: 10px;
    margin-top: 0;
    font-size: 14px;
    color: #fff;
    line-height: 25px;
  }
  footer .ft-desc h4 {
  color: #fff;
    margin: 10px 0;
    font-size: 25px;
  }
  footer .ft-desc p {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
  }
  footer .ft-links ul {
    padding: 0;
    margin: 0;
  }
  footer .ft-links li { list-style-type: none; text-decoration: none; line-height: 25px;}
  footer .ft-links li a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
  }

  @media (max-width: 768px) {
    footer .flex-container {
      flex-direction: column;
    }
  }
  /*End Footer*/






  /*Extra css*/
  .secondary-heading h2 {
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    color: #222;
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }

  /*Heading content*/
  .Headingcontent  h2 {
    font-size: 41px;
    font-weight: 300;
    width: 32%;
    color: #222;
    margin: 0;
  }
  .banner-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f4f4f4;
    margin-bottom: 84px;
    padding: 22px 0;
  }
  .Headingcontent p {
    font-size: 14px;
    color: #838383;
    padding: 0 58px 0px 0;
  }

  /*Category card*/
  .cardBox {
    margin: 30px 0px 50px 0;
    background-color: #fbfbfb;
    position: relative;
    width: 100%;
  }

  .card-section .col-md-4{
  position: relative;
  width: 50%;
  }

  .card-section .col-md-4  .cardBox image {
  display: block;
  width: 100%;
  height: auto;
  }

  .card-section .col-md-4 h3 {
    font-size: 40px;
      margin: 0;
      width: 100%;
      padding: 75% 0 0 8%;
      color: #fff;
      text-align: left;
      font-weight: 300;
  }
  .card-section .col-md-4 p {
    font-size: 14px;
      margin: 0;
      width: 100%;
      padding: 0 8%;
      color: #EFB697;
      text-align: left;
      font-weight: 300;
  }
  .cardBox img {
    height:450px;
    width: 100%;
  }
  .cardcontent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  }

  .cardcontent p {
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    padding-top: 2%;
    padding-left: 8%;
    width: 80%;
    text-transform: uppercase;
  }
  .card-section .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 0px;
    text-align: center;
  }

  .card-section .col-md-4 {
    padding: 10px;
    flex: 50%;
  }
  .card-section .heading {
  color: #4353a0;
    padding: 30px 0 0px 0px;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    text-transform: capitalize;
  }
  .card-section {
  background-color: #fff;
  padding: 0;
  }

  /*Secondary banner*/
  .banner-section .col-md-6 {
    float: left;
  }
  .banner-section img {
    width: 100%;
    height: 350px;
  }
  .secondarybanner-btn{
      color: #fff;
      padding: 15px 56px;
      border: 1px solid #fff;
      font-size: 15px;
      text-decoration: none;
      font-style: italic;
  }
  .secondarybanner-btn:hover {
    background: #000000b3;
    color: #fff;
    text-decoration: none;
  }
  .secondarybanner-link{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-style: italic;
  }
  .secondarybanner-link:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
  }
  .secondarybanner-box h4 {
    font-size: 41px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 22px;
   }
  .secondarybanner-box p {
    margin-bottom: 35px;
  }

  /*Events card*/
  .eventcard-box {
    margin: 30px 0px 50px 0;
    background-color: #fbfbfb;
    position: relative;
    width: 100%;
  }

  .eventcard-section .col-md-4{
  position: relative;
  width: 50%;
  }

  .eventcard-section .col-md-4  .eventcard-box image {
  display: block;
  width: 100%;
  height: auto;
  }

  .eventcard-section .col-md-4 h3 {
    font-size: 45px;
      margin: 0;
      width: 100%;
      padding: 20% 0 0 8%;
      color: #000;
      text-align: left;
      font-weight: 300;
  }
  .eventcard-section .col-md-4 h4 {
    color: #222;
    font-weight: 300;
    font-size: 20px;
  }
  .eventcard-section .col-md-4 h5 {
    font-size: 12px;
    color: #EFB697;
    letter-spacing: 1px;
  }
  .eventcard-section .col-md-4 h6 {
    font-size: 12px;
    color: #454545;
    letter-spacing: 2px;
    text-align: center;
  }
  .eventcard-section .col-md-4 p {
    font-size: 14px;
      margin: 0;
      width: 100%;
      padding: 0 8%;
      color: #000;
      text-align: left;
      font-weight: 300;
  }
  .eventcard-box img {
    height:450px;
    width: 100%;
  }
  .eventcard-content {
      position: absolute;
      background-color: #ffffff;
      top: 62%;
      bottom: 0;
      left: 0;
      right: 0;
      height: 38%;
      width: 90%;
      opacity: 1;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
  }

  .eventcard-content p {
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    padding-top: 2%;
    padding-left: 8%;
    width: 80%;
    text-transform: uppercase;
  }
  .eventcard-content a {
    font-size: 12px;
    color: #ddd;
    font-style: italic;
  }
  .eventcard-section .flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .eventcard-section .col-md-4 {
    padding: 10px;
    flex: 50%;
  }
  .eventcard-section .heading {
  color: #4353a0;
    padding: 30px 0 0px 0px;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    text-transform: capitalize;
  }
  .eventcard-section {
  background-color: #fff;
  padding: 0;
  }
  .eventcard-content  .col-md-9 { float: left; padding-top: 45px; }
  .eventcard-content .col-md-3 { float: left; margin-top: 30px; border-right: 1px solid #ccc; }

  /*Information*/
  .information-box {
    margin: 30px 0px 50px 0;
    background-color: #fbfbfb;
    position: relative;
    width: 100%;
  }

  .information-section .col-md-4{
  position: relative;
  width: 50%;
  }

  .information-section .col-md-4  .information-box image {
  display: block;
  width: 100%;
  height: auto;
  }

  .information-section .col-md-4 h3 {
    font-size: 45px;
      margin: 0;
      width: 100%;
      padding: 20% 0 0 8%;
      color: #000;
      text-align: left;
      font-weight: 300;
  }
  .information-section .col-md-4 h4 {
    color: #222;
    font-weight: 300;
    font-size: 20px;
  }
  .information-section .col-md-4 h5 {
    font-size: 12px;
    color: #EFB697;
    letter-spacing: 1px;
  }
  .information-section .col-md-4 h6 {
    font-size: 12px;
    color: #454545;
    letter-spacing: 2px;
    text-align: center;
  }
  .information-section .col-md-4 p {
    font-size: 14px;
      margin: 0;
      width: 100%;
      padding: 0 8%;
      color: #000;
      text-align: left;
      font-weight: 300;
  }
  .information-box img {
    height:450px;
    width: 100%;
  }
  .information-content {
      position: absolute;
      background-color: #ffffff;
      top: 62%;
      bottom: 0;
      left: 0;
      right: 0;
      height: 38%;
      width: 85%;
      opacity: 1;
      transition: .5s ease;
  }

  .information-content p {
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    padding-top: 2%;
    padding-left: 8%;
    width: 80%;
    text-transform: uppercase;
  }
  .information-content a {
    font-size: 12px;
    color: #ddd;
    font-style: italic;
  }
  .information-section .flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .information-section .col-md-4 {
    padding: 10px;
    flex: 50%;
  }
  .information-section .heading {
  color: #4353a0;
    padding: 30px 0 0px 0px;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    text-transform: capitalize;
  }
  .information-section {
  background-color: #fff;
  padding: 0;
  }
  .information-content  .col-md-9 { float: left; padding-top: 45px; }
  .information-content .col-md-3 { float: left; margin-top: 30px; border-right: 1px solid #ccc; }

  /*Scroll tab*/
  .scrolltab-section ul li {
    display: inline-block;
    margin: 0 45px;
  }
  .scrolltab-section ul li a {
  font-size: 14px;
  color: #1d1d1d;
  text-transform: uppercase;
  }
  .scrolltab-section ul li a:active {
    color: #EFB697;
    border-bottom: 1px solid #EFB697;
    padding-bottom: 10px;
  }
  .scrolltab-section ul {
    text-align: center;
    margin: 0 auto 20px;
  }
  .scrolltabsection-Color {
    background: #F5F4F4;
    padding: 50px 0;
  }
  .scrolltab-box img {
    height: 700px;
  }
  .scrolltab-box .col-md-7, .scrolltab-box  .col-md-5 { float: left; }
  .scrolltab-content {
    background: #fff;
    width: 35%;
    padding: 8% 4%;
    margin: 22% -15%;
  }
  .scrolltab-content h3 {
    font-size: 40px;
      font-weight: 400;
      color: #1d1d1d;
  }
  .scrolltab-content h5 {
    font-size: 14px;
    color: #505050;
    font-weight: 400;
    line-height: 30px;
  }
  .scrolltab-content a {
    font-style: italic;
    font-size: 16px;
    color: #1d1d1d;
  }

 .home-carousel .carousel-caption{
  position: static;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 }
 .home-carousel .carousel-caption .home-img-block{
   max-width: 810px;
   max-height: 600px;
 }
 .home-car-info{
  max-width: 290px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
 }
 .home-car-info h3{
   color: var(--color-burg);
   font-size: 13px;
   letter-spacing: 4.29px;
   text-align: left;
   padding: 0;
   margin:0 23px 0 0;
}
 .home-car-info p{
  color: var(--color-black);
  font-size: 40px;
  text-align: left;
  line-height: 51px;
}
.home-car-info button{
  color: var(--color-black);
  font-size: 16px;
  background: transparent;
  border: none;
  padding: 0 ;
  font-family: var(--primary-font-button);
  font-style: italic;
  font-weight: normal;
  position: relative;
}
.home-car-info button::after{
  content: '';
  background: url(./svg/arrow-right.svg);
  width: 16px;
    height: 16px;
    right: -20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.banner-section>div.col-md-12{
  background-color: rgb(173, 131, 131);
  min-height: 460px;
  background: url(../assets/images/banner-secondary.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding-left: 72px;
  flex: 0 0 98%;
  margin: 0 auto;
}
.banner-section>div.col-md-6{
  background-color: rgb(173, 131, 131);
  min-height: 460px;
  background: url(../assets/images/banner-secondary.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding-left: 72px;
  flex: 0 0 49%;
  margin: 0 auto;
}
.banner-section>div.col-md-6 .secondarybanner-box{
  margin-bottom: 42px;
}
.banner-section>div.col-md-12 .secondarybanner-box{
  margin-bottom: 100px;
}
.container-fluid.call-action{
  padding: 0;
}
.container-fluid.call-action>div.col-md-12{
  flex: 0 0 100%;
  max-height: 360px;
}
.footer-nav-widgets-wrapper {
  background-color: #1d1d1d;
}
.widget .widget-title {
  margin-bottom: 3rem;
  font-size: 12px;
  text-transform: uppercase;
  color: #f4f4f4;
}
.widget-content .textwidget ul {
margin-left: 0;
padding-left:0;
}
.widget-content .textwidget ul li {
list-style: none;
text-transform: uppercase;
margin-top: 0;
}
.widget-content .textwidget ul li a {
text-decoration: none;
font-size: 12px;
color: #848484;
font-family: var(--primary-font);
}
.widget-content .textwidget p {
  color: #848484;
  font-size: 12px;
  font-family: var(--primary-font);
}
.widget-content .textwidget p a {
  color: #EFB697;
}
.widget .widget-title {
  margin-bottom: 2rem; }
  .footer-widgets-outer-wrapper{
    border-bottom: none;
  }
  #site-footer{
    border-top: 0.1rem solid #dedfdf;
}
#post-116 .entry-content .container{
  max-width: 1200px;
  margin: 0 auto;
}
.post-324 .lcp_catlist{
  padding: 144px 0;
  background: var(--color-gray);
  margin: 0;
}
.post-324 .lcp_catlist li{
  position: relative;
    list-style: none;
    margin-left: 0px;
    display: flex;
    margin-bottom: 160px;
}
.post-324 .lcp_catlist li:nth-of-type(2n){
  justify-content: flex-end;
}
.see-do-wrapper{
  background: transparent !important;
}
.post-324 .lcp_catlist li .lcp-customfield{
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%);
      max-width: 533px;
      right: 0;
      padding: 130px 80px 98px 80px;
      background: #fff;
}
.lcp-customfield h3{
  font-size: 40px;
  color: var(--color-black);
  margin-bottom: 16px;
}
.post-324 .lcp_catlist li:nth-of-type(2n) .lcp-customfield{
  left: 40%;
}
.contact-details-wrap{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact-details{
  width: 35%;
}
.post-212 .contact-hero h1{
  color: #fff;
  font-size: 60px;
}
.post-212 .contact-hero h2{
  font-family: var(--primary-font);
  font-size: 15px;
  max-width: 570px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
.lcp-customfield h3{
  margin: 0;
}
.post-116 .lcp_title {
  display: none;
}

.entry-header{
  display: none;
}
.entry-content .container-fluid{
  max-width: 100% !important;
  margin: 0;
  padding: 0;
  width: 100% !important;
}
.entry-content .container{
  max-width: 1200px !important;
  margin: 0 auto;
  padding: 0;
  width: 100% !important;
}
.post-inner{
  padding: 0;
}
.contact-hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 492px;
    background: #000;
    max-width: 100%;
    margin: 0 auto;
    flex-direction: column;
}
.contact-hero h1{
  margin: 0 0 0 0;
  text-align: center;
  width: 100%;
  color: var(--color-burg);
  letter-spacing: 4.62px;
}
.contact-hero h2{
  margin: 11px 0 0 0;
  color: var(--color-gray);
  font-size: 60px;
}
.contact-wrap{
  background-color: var(--primary-back);
}
.secondary-para p{
  max-width: 52%;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  color: #222226;
  letter-spacing: 0;
  font-family: var(--primary-font-heading);
}
.socio-contact{
  background: var(--color-gray);
  padding: 98px 0 135px 0;
}
.socio-contact .footer-social-wrapper h3,.contact-head h3{
  color: var(--color-black);
  font-size: 40px;
  font-family: var(--primary-font);
  text-align: center;
  margin-bottom: 22px;
}
.contact-head{
  margin-top: 78px;
}
.contact-head p{
  margin-top: 78px;
  max-width: 570px;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-bottom: 36px;
}
.contact-news{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 550px;
  margin: 0 auto;
}
.contact-news input[type="email"]{
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--color-black);
  width: 300px;
}
.contact-news input[type="submit"]{
  padding: 17px 80px;
  background: transparent;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  font-size: 10px;
}
.label-wrap{
  position: relative;
  margin: 0;
}
.email-label{
  font-size: 10px;
  color: var(--color-black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.socio-contact .footer-social{
  display: flex;
  justify-content: center;
  padding: 0;
}
.footer-social a{
  border: 1px solid var(--color-black);
  background: transparent;
}
.see-do-wrap{
  max-width: 730px;
  margin: 0 auto;
  width: 100%;
}
.see-do-wrap h1{
 text-align: left;
}
.see-do-wrap h2{
  max-width: 330px;
 }
.post-324 .lcp_catlist li::marker{
  display: none;
}
/** subscribe form css starts here **/

.subscribe-content {
  width: 50%;
  margin: 0 auto;
}
.subscribe-content  h2 {
  font-size: 40px;
  font-weight: 500;
  color: #1d1d1d;
  margin: 0;
  text-align: center;

}
.subscribe-content p {
  font-size: 14px;
  color: #838383;
  padding: 4% 0 0px 0;
  text-align: center;
}
.subscribe-content input[type="text"] {
  border: none;
  border-bottom: 1px solid #505050;
  width: 50%;
  float: left;
  margin-right: 24px;
  text-align: center;
  font-size: 12px;
}
.subscribe-content input[type="submit"] {
  border: 1px solid #9a9a9a;
  width: 40%;
  padding: 2% 0;
  background: transparent;
  color: #222;
  font-size: 12px;
  margin-top: 10px;
}
.subscribe-content form {
  margin-top: 7%;
}


/** subscribe form css ends here **/

.home-news .lcp_catlist{
  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 550px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto 30px auto;
    padding: 0;

}
#panel-w60b5dabd96887-0-0-0 .widget-title{
  font-size: 14px;
  margin: 0;
}
#panel-w60b5dabd96887-0-0-0 .textwidget{
  font-size: 60px;
  color: #fff;
  max-width: 51%;
}
#panel-w60b5dabd96887-0-0-1{
  display: none;
}
.home-carousel .carousel-control-prev{
  left: 0;
  width: auto;
  bottom: auto;
  top: 460px;
  left: 10%;
  transform: translatex(-50%);
  background: url(./svg/arrow-left.svg) no-repeat;
  background-size: cover;
  width: 29px;
  height: 30px;
}
.home-carousel .carousel-control-next{
  left: 0;
  bottom: auto;
  right: auto;
  top: 460px;
  left: 13%;
  transform: translatex(-50%);
  background: url(./svg/arrow-right.svg) no-repeat;
  width: 29px;
  height: 30px;
  background-size: cover;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
  display: none !important;
}
.best-way .inline-gatsby-image-wrapper{
  filter:invert();
}
.best-way .widget_media_image{
  text-align: center;
}
#pgc-12-4-1{
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 0 70px ;
  margin: 0 30px;
}
.eventcard-content .col-md-3{
   max-width: 30%;
   width: 30%;
}
.eventcard-content .col-md-9{
  max-width: 70%;
  width: 70%;
}
.home-carousel .carousel-indicators{
  bottom: auto;
  top: 460px;
  left: 35%;
  transform: translatex(-50%);
  margin: 0;
  right: auto;
}
.home-carousel .carousel-indicators li{
  background: #E2E2E2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-bottom: none;
  border-top: none;
}
.home-carousel .carousel-indicators .active{
  background: #8D8D8D;
}
.post-324 .lcp_excerpt{
  position: absolute;
  padding: 130px 84px 98px 84px;
  background: #fff;
  max-width: 533px;
  transform: translate(-50%,-50%);
  right: 0;
  top: 50%;

}
.post-324 .lcp_catlist li:nth-of-type(2n) .lcp_excerpt{
  left: 50%;
}
.home-news .lcp_catlist li{
  width: 430px;
  height: 146px;
  display: flex;
  position: relative;
}
.post-324 .lcp_catlist p{
  font-size: 16px;
  color: #505050;
}
.post-324 .lcp_catlist a{
  font-size: 16px;
  color: #505050;
  font-family: Playfair !important;
  font-style: italic;
}
.see-post{
  margin: 0 0 16px 0 !important;
  font-size: 40px;
  color: #1d1d1d;
}
 .home-news .lcp_catlist li img{
  height: 146px !important;
  width: 146px  !important;
}
.home-news .lcp_catlist li:nth-of-type(1){
  width: 670px;
  height: 530px;
}
.home-news .lcp_catlist li:nth-of-type(1) img{
  height: 513px !important;
  width: 680px !important;
}
.news-head{
  font-size: 41px;
  color: #222226;
  text-align: center;
}
.lcp_excerpt{
  position: absolute;
}
.home-news .lcp_excerpt h3{
  position: relative;
  color: var(--color-black);
  font-size: 20px;
}
.home-news .lcp_excerpt p{
  position: relative;
  color: #838383;
  font-size: 16px;
}
.home-news .lcp_excerpt h3::before,.news-tab .lcp_excerpt .widget-title::before{
  content: 'NEWS';
  color: var(--color-burg);
  font-size: 16px;
  position: absolute;
  top: -25px;
  left: 0;
}
 .home-news .lcp_catlist li .lcp_excerpt{
  bottom: 0;
    right: 0;
    padding: 30px;
    background: #fff;
    width: 264px;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.home-news .lcp_catlist li::after{
  content: '';
  background: #e2e2e2;
  width: 100%;
  position: absolute;
  bottom: -29px;
  height: 1px;
}
.home-news .lcp_catlist li:nth-of-type(1)::after{
  display: none;
}
 .home-news .lcp_catlist li:nth-of-type(1) .lcp_excerpt{
  bottom: 0;
  left: 0 !important;
  padding: 30px;
  background: #fff;
  width: 566px;
  height: auto !important;
}
.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide){
  max-width: 100% !important;
  width: 100%;
}
.home-hero{
  display: none;
}

.home-hero .panel-grid-cell{
   display: flex;
   height: 660px;
   flex-direction: column;
   flex-wrap: wrap;
}
.home-hero .widget_media_image{
  height: 660px;
}
.home-carousel{
  display: none;
}
.post-12 .home-carousel{
  display: block;
}
.heading-block{
  max-width: 1200px;
  margin: 30px auto;
}
.heading-block h3{
  font-size: 41px !important;
    font-weight: 300;
    width: 40%;
    color: #222 !important;
    margin: 0 !important;
}
.heading-block #panel-12-2-0-0{
   max-width: 600px;
}
.heading-block p{
  font-family: var(--primary-font);
  font-size: 14px;
    color: #838383;
    padding: 0 58px 0px 0;
}
.lcp_title{
  display: none;
}
.home-cta-cards{
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
.home-cta-cards{
  width: 50%;
}
.home-cta-cards:nth-of-type(1){
  width: 100%;
}
.home-cta-cards .widget_sow-button, .home-cta-cards .widget_text{
  position: absolute;
  z-index: 1;
}
.panel-grid-cta .panel-grid-cell .home-cta-cards .widget_sow-button{
  bottom: 49px;
  left: 71px;
}
.panel-grid-cta .panel-grid-cell .home-cta-cards .widget_text{
 bottom: 97px;
 left: 71px;
}
.panel-grid-cta .panel-grid-cell:nth-of-type(1) .home-cta-cards .widget_sow-button{
   bottom: 96px;
}
.panel-grid-cta .panel-grid-cell:nth-of-type(1) .home-cta-cards .widget_text{
  bottom: 167px;
}

.home-cta-cards .gatsby-image-wrapper{
  max-width: 1280px;
  width: 100% !important;
  display: block;
  margin: 0 auto;
  min-height: 460px;
}
.panel-grid-cta{
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;

}
.panel-grid-cta .panel-grid-cell{
  width: 49%;

}
.panel-grid-cta .panel-grid-cell:nth-of-type(1){
  width: 100%;
}
.best-way{
  display: flex;
    flex-wrap: nowrap;
    padding: 150px;
    justify-content: space-around;
    margin: 0 auto;
    background: #1d1d1d;
}
#pg-12-4{
  margin: 106px 0;
}
#pgc-12-4-1::before{

  padding: 0 75px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
#pg-12-6{
  background: url;
}
#pgc-w60b525e336570-0-0{
  position: relative;
}
.directions .panel-grid-cell{
  position: relative;
}
.directions .panel-grid-cell>.widget_siteorigin-panels-builder.panel-last-child{
  max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
}
.directions .gatsby-image-wrapper{
  min-width: 100%;
}
#pgc-w60b525e33665c-0-0 {
  display: flex;
    width: 100%;
    min-width: 1200px;
    justify-content: space-between;
}
.best-way .widget-title{
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.home-cta-cards  .widget-title{
  color: #fff;
    font-size: 41px;
    max-width: 53%;
}
.best-way .ow-icon-placement-left{
     color: #EFB697;
     text-align: center;
  font-size: 12px;
  display: block;
}
.home-cta-cards .ow-icon-placement-left{
  color: #fff;
  text-align: center;
font-size: 16px;
display: block;
}
.panel-grid-cta .panel-grid-cell:nth-of-type(1) .home-cta-cards .ow-icon-placement-left,
.directions .ow-icon-placement-left {
  padding: 15px 56px;
  border: 1px solid #fff;
  color: #fff;
}
.directions  .widget-title{
  color: #EFB697;
    font-size: 41px;
}
.directions  .textwidget{
  color: #fff;
    font-size: 14px;
}
#pg-12-6{
  margin: 90px 0;
}
#pg-226-2{
  background: #F8F8F8;
  padding: 177px 0;
}
#pg-226-2> .panel-grid-cell{
  max-width: 1200px;
  margin: 0 auto;
}
#pg-226-2> .panel-grid-cell .nav-link{
  background: transparent;
  color: var(--color-black);
  position: relative;
  font-size: 30px;
  margin-bottom: 25px;
}
#pg-226-2> .panel-grid-cell .nav-link.active{
  background: transparent;
  color: var(--color-burg);
  position: relative;
}
#panel-226-0-0-0 .widget-title{
  margin: 94px 0 35px 0;
  text-align: center;
  color: var(--color-black);
  font-size: 41px;
}
.news-tab .lcp_catlist{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.news-tab .lcp_catlist li{
  max-width:43%;
  margin-bottom: 95px;
  list-style: none;
  position: relative;
  width: 100%;
}
.news-tab .lcp_excerpt{
  position: absolute;
  max-width: 313px;
  background: #F8F8F8;
  bottom: 0;
  padding: 51px 70px 5px 45px;
}
.news-tab .lcp_excerpt .widget-title{
  font-size: 16px;
  color: var(--color-black);
  line-height: 31px;
  position: relative;
}
.news-tab .lcp_excerpt .textwidget p{
  font-size: 11px;
  color: var(--color-black);
}
.news-tab li .gatsby-image-wrapper{
 width: 100% !important;
}
#pg-226-2> .panel-grid-cell .nav-link.active:before{
  content: '';
  position: absolute;
  top: -5px;
  width: 45px;
  height: 2px;
  background: var(--color-burg);
}
#visitpg-tabs .nav-tabs {
  text-align: center;
  margin-left: 0;
  }
  #visitpg-tabs .nav-tabs>li> {
  margin-bottom: 30px;
  }
  #visitpg-tabs .nav-tabs>li>a {
  color: #707070;
  }
  #visitpg-tabs .nav-tabs>li>a .fa {
  font-size: 30px;
      border: 1px solid #707070;
      padding: 10px 12px;
      border-radius: 50%;
  }
  #visitpg-tabs .tab-content {
  background: #f5f5f5;
      height: 370px;
      padding: 20px;
  }
  #visitpg-tabs .tab-content h3 {
  font-size: 30px;
      color: #1d1d1d;
  }
  #visitpg-tabs .tab-content p {
  color: #838383;
      font-size: 16px;
  }
  #visitpg-tabs .tab-content-link {
  color: #EFB697;
  font-size: 14px;
  text-transform: uppercase;
  }
  #visitpg-tabs .nav-tabs>li.active>a, #visitpg-tabs .nav-tabs>li>a:hover {
  border: none;
  color: #1D1D1D;
  background: transparent;
  }
  #visitpg-tabs .nav-tabs>li.active>a .fa {
  color: #1D1D1D;
  }
  #pgc-574-0-0{
    position: relative;
  }
  #pgc-574-0-0 .widget_text{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #pgc-574-0-0 .widget_media_image{
     margin: 0 !important;
  }
  #pgc-574-0-0 .gatsby-image-wrapper{
    width: 100% !important;
 }
 #pgc-574-0-0 .textwidget{
   font-size: var(--primary-size-xxxl);
   color: var(--primary-back);
 }
 #pgc-574-0-0 .widget-title{
   display: block;
   width: 100%;
   font-size: 14px;
   color: var(--color-burg);
   text-align: center;
   margin: 0 !important;
   letter-spacing: 4.62px;
 }
 #pg-574-2{
   padding: 124px 0;
 }
 #contact-details{
   max-width: 876px;
   margin: 0 auto;
 }
 #contact-details>.panel-grid-cell{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 }
 #contact-details>.panel-grid-cell>div{
   width: 45%;
   margin: 0 0 38px 0;
 }
 .contact-details-box h3.widget-title{
   color: #222226;
   font-size: 30px;
   margin-bottom: 28px;
 }
 .contact-details-box h5,.contact-details-box h4{
  color: #676767;
  font-size: 16px;
  margin: 0px;
  line-height: 2;
}
.contact-details-box h4{
  color: var(--color-burg);
}
.plan-tab>ul{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 58.5%;
  margin: 0 auto;
  border: none;

}
.plan-tab>ul li{
  width: 33.33%;
  margin: 0;
}
.plan-tab>ul a.nav-link{
  padding: 21px 0;
  color: var(--color-black);
  font-size: 14px;
  letter-spacing: 4.62px;
  border-bottom: 2px solid transparent;
  border: none;
  text-align: center;
}
.plan-tab>ul a.nav-link.active{
  color: var(--color-burg);
  border-bottom: 2px solid var(--color-burg);
}
.plan-tab-inner{
  margin-top: 2px;
}
.plan-tab-inner>.tab-pane.active{
  display: flex !important;
}
.plan-tab-inner .tab-pane .nav-tabs{
  width: 37%;
    max-width: 100%;
    flex: 0 0 37%;
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding: 63px 0 63px 0;
    margin: 0;
}
.plan-tab-inner .tab-pane .nav-tabs .nav-item{
   width: 100%;
   margin: 0 0 77px 0;
}
.plan-tab-inner .tab-pane .nav-tabs .nav-link{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: none;
  color: var(--color-black);
  opacity: 0.6;
  font-size: 30px;
  padding-top: 88px;
  position: relative;
}
.plan-tab-inner .tab-pane .nav-tabs .nav-link::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 70px;
  height: 70px;
  background: url(./images/icons8-bus-100.png) no-repeat;
  background-size: cover;
  transform: translateX(-50%);
}
.plan-tab-inner .tab-pane .nav-tabs .nav-link.active{
  opacity: 1;
}

.plan-tab-inner .tab-pane .tab-content{
   padding: 82px 11.11% 82px 10.11%;
   background-color: var(--primary-back);
}
.plan-tab-inner .tab-pane .tab-content h3{
 margin: 0 0 30px 0;
 font-size: 30px;
 color: var(--color-black);
}
.plan-tab-inner .tab-pane .tab-content p{
  margin: 0 0 15px 0;
  font-size: 16px;
  line-height: 2em;
  color: #838383;
 }
 .plan-tab-inner .tab-pane .tab-content a{
  margin: 0;
  font-size: 14px;
 letter-spacing: 4.62px;
  text-transform: uppercase;
  color: var(--color-burg);
 }
 .plan-banner{
   position: relative;
 }
 .plan-banner .widget_text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}
.plan-banner .widget_text h3{
  text-align: center;
  color: #fff;
  font-size: 60px;
  line-height: 71px;
}
#panel-212-1-0-1{
  margin-top: 2px;
}
.plan-banner .widget_text .textwidget{
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
}
.plan-banner .widget_media_image{
  margin: 0;
}
.plan-banner .widget_media_image .gatsby-image-wrapper{
  width: 100% !important;
}
.news-archives{
  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 550px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto 30px auto;
    padding: 0;
    display: none;
}
.btn-wrap-see>.panel-grid-cell{
  display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}
.btn-wrap-see>.panel-grid-cell .widget_sow-button{
  margin: 0;
}
.btn-wrap-see>.panel-grid-cell .widget_sow-button a{
  margin: 0;
  font-size: 14px;
  color: var(--color-black);
 letter-spacing: 4.62px;
 text-transform: uppercase;
 transition: all 0.3s linear;
 padding: 21px 0;
 border-bottom: 2px solid transparent;
 display: inline-block;
}
.btn-wrap-see>.panel-grid-cell .widget_sow-button a:hover{
  color: var(--color-burg);
  border-bottom: 2px solid var(--color-burg);
}
.post-324 .lcp_catlist p >a{
  position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding: 0 0 80px 84px;
}

/*plan your visit*/
.plan-tab-inner .tab-pane .nav-tabs .nav-link:before {
  transform: translateX(-50%);
  width: 70px;
}
ul.footer-social li {
  margin: 1rem 2rem 0 2rem;
}
.plan-banner .widget_text h3 {
  text-transform: capitalize;
}
#panel-226-0-0-0 .widget-title {
  text-transform: capitalize;
}

/*news*/
.home-news .lcp_catlist li:first-of-type .lcp_excerpt h3 {
  font-size: 30px;
  line-height: 40px;
}
.home-news .lcp_excerpt h3 {
  color: var(--color-black);
  font-size: 20px;
  position: relative;
  text-transform: capitalize;
  line-height: 28px;
}
.home-news .lcp_catlist li:first-of-type .lcp_excerpt {
  padding: 70px 30px;
}
.news-tab .lcp_excerpt {
  top: 30%;
}
.news-tab .lcp_excerpt .widget-title {
  color: var(--color-black);
  font-size: 20px;
  line-height: 28px;
  position: relative;
  text-transform: capitalize;
}

/*contact*/
.primary-head h3 {
  text-align: center;
  text-transform: capitalize!important;
  line-height: 40px;
}
.contact-details-box h3.widget-title {
  text-transform: capitalize;
}
.contact-details-box .textwidget {
  padding-left: 20px;
}
